node-red/.flows.json.backup
[{"id":"8edb4e34.673db","type":"tab","label":"Wake up","disabled":false,"info":""},{"id":"9af02288.f1339","type":"tab","label":"Night light","disabled":false,"info":""},{"id":"8d2a5b3.c3ffca8","type":"tab","label":"Rob the Roborock","disabled":false,"info":""},{"id":"21a87d49.4044b2","type":"tab","label":"Coinbase","disabled":false,"info":""},{"id":"3709ae8a.570842","type":"tab","label":"Others","disabled":false,"info":""},{"id":"9e74f251.0dfb4","type":"server","name":"Home Assistant","addon":true},{"id":"4a69237f.8973ec","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bb457b9d.eaba78","type":"server-state-changed","z":"8edb4e34.673db","name":"Monday Time","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.monday_time","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":200,"wires":[["92c8eb7d.4d77b8"]]},{"id":"3756e56e.8b317a","type":"schedex","z":"8edb4e34.673db","name":"Monday","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"","ontopic":"","onpayload":"open","onoffset":0,"onrandomoffset":0,"offtime":"","offtopic":"","offpayload":"","offoffset":"60","offrandomoffset":0,"mon":true,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"sun":false,"x":500,"y":180,"wires":[["b13ab16a.b4994"]]},{"id":"92c8eb7d.4d77b8","type":"function","z":"8edb4e34.673db","name":"Parse time","func":"new_msg = {\n    payload: {\n        ontime: msg.payload.substr(0,5),\n        offtime: msg.payload.substr(0,5)\n    }\n}\nreturn new_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":200,"wires":[["3756e56e.8b317a"]]},{"id":"61b4e730.1fe2e8","type":"server-state-changed","z":"8edb4e34.673db","name":"Tuesday Time","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.tuesday_time","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":320,"wires":[["d5fc3749.6d8148"]]},{"id":"10e9560a.40106a","type":"schedex","z":"8edb4e34.673db","name":"Tuesday","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"","ontopic":"","onpayload":"open","onoffset":0,"onrandomoffset":0,"offtime":"","offtopic":"","offpayload":"","offoffset":"60","offrandomoffset":0,"mon":false,"tue":true,"wed":false,"thu":false,"fri":false,"sat":false,"sun":false,"x":500,"y":300,"wires":[["b13ab16a.b4994"]]},{"id":"d5fc3749.6d8148","type":"function","z":"8edb4e34.673db","name":"Parse time","func":"new_msg = {\n    payload: {\n        ontime: msg.payload.substr(0,5),\n        offtime: msg.payload.substr(0,5)\n    }\n}\nreturn new_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":320,"wires":[["10e9560a.40106a"]]},{"id":"78a2e03.fc9dc2","type":"server-state-changed","z":"8edb4e34.673db","name":"Wednesday Time","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.wednesday_time","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":160,"y":440,"wires":[["80a2a78a.219648"]]},{"id":"43f9b7db.fd1088","type":"schedex","z":"8edb4e34.673db","name":"Wednesday","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"","ontopic":"","onpayload":"open","onoffset":0,"onrandomoffset":0,"offtime":"","offtopic":"","offpayload":"","offoffset":"60","offrandomoffset":0,"mon":false,"tue":false,"wed":true,"thu":false,"fri":false,"sat":false,"sun":false,"x":510,"y":420,"wires":[["b13ab16a.b4994"]]},{"id":"80a2a78a.219648","type":"function","z":"8edb4e34.673db","name":"Parse time","func":"new_msg = {\n    payload: {\n        ontime: msg.payload.substr(0,5),\n        offtime: msg.payload.substr(0,5)\n    }\n}\nreturn new_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":440,"wires":[["43f9b7db.fd1088"]]},{"id":"ca04f4bb.0f2158","type":"server-state-changed","z":"8edb4e34.673db","name":"Thursday Time","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.thursday_time","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":160,"y":560,"wires":[["30494bdf.f544e4"]]},{"id":"15df1791.0c2d88","type":"schedex","z":"8edb4e34.673db","name":"Thursday","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"","ontopic":"","onpayload":"open","onoffset":0,"onrandomoffset":0,"offtime":"","offtopic":"","offpayload":"","offoffset":"60","offrandomoffset":0,"mon":false,"tue":false,"wed":false,"thu":true,"fri":false,"sat":false,"sun":false,"x":500,"y":540,"wires":[["b13ab16a.b4994"]]},{"id":"30494bdf.f544e4","type":"function","z":"8edb4e34.673db","name":"Parse time","func":"new_msg = {\n    payload: {\n        ontime: msg.payload.substr(0,5),\n        offtime: msg.payload.substr(0,5)\n    }\n}\nreturn new_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":560,"wires":[["15df1791.0c2d88"]]},{"id":"7fb0c4b4.cd63ac","type":"server-state-changed","z":"8edb4e34.673db","name":"Friday Time","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.friday_time","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":680,"wires":[["700fb46.5ae364c"]]},{"id":"da009f2c.186ea","type":"schedex","z":"8edb4e34.673db","name":"Friday","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"","ontopic":"","onpayload":"open","onoffset":0,"onrandomoffset":0,"offtime":"","offtopic":"","offpayload":"","offoffset":"60","offrandomoffset":0,"mon":false,"tue":false,"wed":false,"thu":false,"fri":true,"sat":false,"sun":false,"x":490,"y":660,"wires":[["b13ab16a.b4994"]]},{"id":"700fb46.5ae364c","type":"function","z":"8edb4e34.673db","name":"Parse time","func":"new_msg = {\n    payload: {\n        ontime: msg.payload.substr(0,5),\n        offtime: msg.payload.substr(0,5)\n    }\n}\nreturn new_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":680,"wires":[["da009f2c.186ea"]]},{"id":"3fd96bc6.72e8e4","type":"server-state-changed","z":"8edb4e34.673db","name":"Saturday Time","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.saturday_time","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":800,"wires":[["9308f755.a50b48"]]},{"id":"64d8a7e.21bfa58","type":"schedex","z":"8edb4e34.673db","name":"Saturday","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"","ontopic":"","onpayload":"open","onoffset":0,"onrandomoffset":0,"offtime":"","offtopic":"","offpayload":"","offoffset":"60","offrandomoffset":0,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":true,"sun":false,"x":500,"y":780,"wires":[["b13ab16a.b4994"]]},{"id":"9308f755.a50b48","type":"function","z":"8edb4e34.673db","name":"Parse time","func":"new_msg = {\n    payload: {\n        ontime: msg.payload.substr(0,5),\n        offtime: msg.payload.substr(0,5)\n    }\n}\nreturn new_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":800,"wires":[["64d8a7e.21bfa58"]]},{"id":"e56effa8.6acd3","type":"server-state-changed","z":"8edb4e34.673db","name":"Sunday Time","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.sunday_time","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":920,"wires":[["db8df76c.2e9178"]]},{"id":"88e631a0.04e1b","type":"schedex","z":"8edb4e34.673db","name":"Sunday","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"","ontopic":"","onpayload":"open","onoffset":0,"onrandomoffset":0,"offtime":"","offtopic":"","offpayload":"","offoffset":"60","offrandomoffset":0,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"sun":true,"x":500,"y":900,"wires":[["b13ab16a.b4994"]]},{"id":"db8df76c.2e9178","type":"function","z":"8edb4e34.673db","name":"Parse time","func":"new_msg = {\n    payload: {\n        ontime: msg.payload.substr(0,5),\n        offtime: msg.payload.substr(0,5)\n    }\n}\nreturn new_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":920,"wires":[["88e631a0.04e1b"]]},{"id":"d1ab8f99.4697a","type":"api-current-state","z":"8edb4e34.673db","name":"Percent open","server":"9e74f251.0dfb4","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.wake_percent","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1270,"y":260,"wires":[["29565183.0e446e"]]},{"id":"32d54aa8.ad7716","type":"api-call-service","z":"8edb4e34.673db","name":"Set position","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"cover","service":"set_cover_position","entityId":"cover.sonoff_1000d66ac3","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1390,"y":380,"wires":[[]]},{"id":"a5256955.748088","type":"api-call-service","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.sonoff_1000d66886","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1160,"y":460,"wires":[["a32beccc.f6eb7"]]},{"id":"a32beccc.f6eb7","type":"api-call-service","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.sonoff_1000d67323","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1160,"y":520,"wires":[["ce0cf6d1.5cd2a8"]]},{"id":"29565183.0e446e","type":"template","z":"8edb4e34.673db","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"data\": {\n    \"entity_id\": \"cover.sonoff_1000d66ac3\",\n    \"position\": \"{{payload}}\"\n  }\n}","output":"str","x":1340,"y":320,"wires":[["32d54aa8.ad7716"]]},{"id":"8b86cf7c.b6db7","type":"api-call-service","z":"8edb4e34.673db","name":"Prime blinds","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.blinds_primed","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1130,"y":340,"wires":[[]]},{"id":"ce0cf6d1.5cd2a8","type":"api-call-service","z":"8edb4e34.673db","name":"Remove prime","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.blinds_primed","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1180,"y":580,"wires":[[]]},{"id":"e9e36859.a42df8","type":"api-call-service","z":"9af02288.f1339","name":"Turn on Cristo","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.cristo_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":640,"wires":[["ad03df1b.8979b"]]},{"id":"2bb48840.1488d8","type":"api-call-service","z":"9af02288.f1339","name":"Turn off Cristo","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.cristo_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1200,"y":640,"wires":[[]]},{"id":"4e0c237e.9a22bc","type":"api-current-state","z":"9af02288.f1339","name":"If TV is off","server":"9e74f251.0dfb4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.living_room_tv","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":180,"wires":[["24c2daab.4a1bd6"],[]]},{"id":"24c2daab.4a1bd6","type":"api-current-state","z":"9af02288.f1339","name":"Graeme lamp off","server":"9e74f251.0dfb4","version":1,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"light.graeme_s_lamp","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":390,"y":280,"wires":[["73b4bef1.61ffa"],[]]},{"id":"73b4bef1.61ffa","type":"api-current-state","z":"9af02288.f1339","name":"Carol lamp off","server":"9e74f251.0dfb4","version":1,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"light.carol_s_lamp","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":380,"y":360,"wires":[["48f90ace.780e54"],[]]},{"id":"48f90ace.780e54","type":"api-current-state","z":"9af02288.f1339","name":"Cristo lamp off","server":"9e74f251.0dfb4","version":1,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"switch.cristo_lamp","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":380,"y":460,"wires":[["2a9d373e.b18938"],[]]},{"id":"7735a7c.fea0158","type":"trigger-state","z":"9af02288.f1339","name":"PIR","server":"9e74f251.0dfb4","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.living_room_pir_2","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"entity_id","targetValue":"sun.sun","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"below_horizon","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"habool","x":330,"y":80,"wires":[["4e0c237e.9a22bc"],[]]},{"id":"23502929.d81ab6","type":"sun events","z":"9af02288.f1339","testmode":true,"verbose":true,"topic":"","name":"","x":160,"y":80,"wires":[["7735a7c.fea0158"]]},{"id":"53adddeb.6a7734","type":"api-call-service","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_iphone_de_ana_carolina","entityId":"","data":"{\"message\":\"{{payload}}\",\"title\":\"Wake up time changed\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":1380,"wires":[[]]},{"id":"2d595e49.8ea272","type":"server-state-changed","z":"8edb4e34.673db","name":"Monday On","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.monday_wake","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":140,"wires":[["c35d7616.aa5588"]]},{"id":"c35d7616.aa5588","type":"function","z":"8edb4e34.673db","name":"Parse on/off","func":"new_msg = {\n    payload: {\n        mon: msg.payload,\n    }\n}\nreturn new_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":140,"wires":[["3756e56e.8b317a"]]},{"id":"5366f97d.ddd608","type":"server-state-changed","z":"8edb4e34.673db","name":"Tuesday On","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.tuesday_wake","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":260,"wires":[["8bfac80a.ae0c78"]]},{"id":"8bfac80a.ae0c78","type":"function","z":"8edb4e34.673db","name":"Parse on/off","func":"new_msg = {\n    payload: {\n        tue: msg.payload,\n    }\n}\nreturn new_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":260,"wires":[["10e9560a.40106a"]]},{"id":"3fa31fcf.3ee28","type":"server-state-changed","z":"8edb4e34.673db","name":"Wednesday On","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.wednesday_wake","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":160,"y":380,"wires":[["efec16b7.7b4a88"]]},{"id":"efec16b7.7b4a88","type":"function","z":"8edb4e34.673db","name":"Parse on/off","func":"new_msg = {\n    payload: {\n        wed: msg.payload,\n    }\n}\nreturn new_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":380,"wires":[["43f9b7db.fd1088"]]},{"id":"76d5f9f4.04c118","type":"server-state-changed","z":"8edb4e34.673db","name":"Thursday On","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.thursday_wake","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":500,"wires":[["6e128ef1.182c1"]]},{"id":"6e128ef1.182c1","type":"function","z":"8edb4e34.673db","name":"Parse on/off","func":"new_msg = {\n    payload: {\n        thu: msg.payload,\n    }\n}\nreturn new_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":500,"wires":[["15df1791.0c2d88"]]},{"id":"31f4235f.ab5a6c","type":"server-state-changed","z":"8edb4e34.673db","name":"Friday On","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.friday_wake","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":140,"y":620,"wires":[["c2ea7261.131cb"]]},{"id":"c2ea7261.131cb","type":"function","z":"8edb4e34.673db","name":"Parse on/off","func":"new_msg = {\n    payload: {\n        fri: msg.payload,\n    }\n}\nreturn new_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":620,"wires":[["da009f2c.186ea"]]},{"id":"cc9de27f.3af81","type":"server-state-changed","z":"8edb4e34.673db","name":"Saturday On","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.saturday_wake","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":740,"wires":[["f30b67fb.06d668"]]},{"id":"f30b67fb.06d668","type":"function","z":"8edb4e34.673db","name":"Parse on/off","func":"new_msg = {\n    payload: {\n        sat: msg.payload,\n    }\n}\nreturn new_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":740,"wires":[["64d8a7e.21bfa58"]]},{"id":"4596e510.f6515c","type":"server-state-changed","z":"8edb4e34.673db","name":"Sunday On","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.sunday_wake","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":140,"y":860,"wires":[["45b3487e.054e98"]]},{"id":"45b3487e.054e98","type":"function","z":"8edb4e34.673db","name":"Parse on/off","func":"new_msg = {\n    payload: {\n        sun: msg.payload,\n    }\n}\nreturn new_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":860,"wires":[["88e631a0.04e1b"]]},{"id":"8c08d874.5ac5d8","type":"server-state-changed","z":"8edb4e34.673db","name":"Monday Time","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.monday_time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":1320,"wires":[["2e98d9bf.2b0306"]]},{"id":"65f0f6f4.6fbf48","type":"server-state-changed","z":"8edb4e34.673db","name":"Tuesday Time","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.tuesday_time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":1360,"wires":[["c6650794.7103d8"]]},{"id":"a4f5e29a.767c1","type":"server-state-changed","z":"8edb4e34.673db","name":"Wednesday Time","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.wednesday_time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":160,"y":1400,"wires":[["a1efc805.431858"]]},{"id":"ad7a58d9.50ddd8","type":"server-state-changed","z":"8edb4e34.673db","name":"Thursday Time","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.thursday_time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":160,"y":1440,"wires":[["3039e5a.d865c1a"]]},{"id":"6d484aca.22a074","type":"server-state-changed","z":"8edb4e34.673db","name":"Friday Time","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.friday_time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":1480,"wires":[["fe474eb9.584bd"]]},{"id":"38dce7f2.a44ed8","type":"server-state-changed","z":"8edb4e34.673db","name":"Saturday Time","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.saturday_time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":1520,"wires":[["10ed65dc.42a9da"]]},{"id":"92cc858f.1d3858","type":"server-state-changed","z":"8edb4e34.673db","name":"Sunday Time","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.sunday_time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":1560,"wires":[["c2ecbc01.cca04"]]},{"id":"eb85e483.4021b8","type":"server-state-changed","z":"8edb4e34.673db","name":"Monday On","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.monday_wake","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":1000,"wires":[["9f7025bb.679388"]]},{"id":"532f9455.7a63ec","type":"server-state-changed","z":"8edb4e34.673db","name":"Tuesday On","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.tuesday_wake","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":1040,"wires":[["e51dc888.4c37d8"]]},{"id":"7a73a186.38a68","type":"server-state-changed","z":"8edb4e34.673db","name":"Wednesday On","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.wednesday_wake","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":160,"y":1080,"wires":[["fb660d02.1c546"]]},{"id":"d5ecc9f9.8be468","type":"server-state-changed","z":"8edb4e34.673db","name":"Thursday On","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.thursday_wake","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":1120,"wires":[["5fc3de84.10643"]]},{"id":"f058a2bf.9ee1d","type":"server-state-changed","z":"8edb4e34.673db","name":"Friday On","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.friday_wake","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":140,"y":1160,"wires":[["be3bc235.7e4c2"]]},{"id":"1639f068.04d99","type":"server-state-changed","z":"8edb4e34.673db","name":"Saturday On","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.saturday_wake","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":1200,"wires":[["b35c9aa5.9690e8"]]},{"id":"d8b2b07d.ce707","type":"server-state-changed","z":"8edb4e34.673db","name":"Sunday On","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.sunday_wake","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":140,"y":1240,"wires":[["d9f77ba9.4653c8"]]},{"id":"2e98d9bf.2b0306","type":"template","z":"8edb4e34.673db","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Monday: {{payload}}","output":"str","x":320,"y":1320,"wires":[["35a9f997.3bf006"]]},{"id":"c6650794.7103d8","type":"template","z":"8edb4e34.673db","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Tuesday: {{payload}}","output":"str","x":320,"y":1360,"wires":[["35a9f997.3bf006"]]},{"id":"a1efc805.431858","type":"template","z":"8edb4e34.673db","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Wednesday: {{payload}}","output":"str","x":320,"y":1400,"wires":[["35a9f997.3bf006"]]},{"id":"3039e5a.d865c1a","type":"template","z":"8edb4e34.673db","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Thursday: {{payload}}","output":"str","x":320,"y":1440,"wires":[["35a9f997.3bf006"]]},{"id":"fe474eb9.584bd","type":"template","z":"8edb4e34.673db","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Friday: {{payload}}","output":"str","x":320,"y":1480,"wires":[["35a9f997.3bf006"]]},{"id":"10ed65dc.42a9da","type":"template","z":"8edb4e34.673db","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Saturday: {{payload}}","output":"str","x":320,"y":1520,"wires":[["35a9f997.3bf006"]]},{"id":"c2ecbc01.cca04","type":"template","z":"8edb4e34.673db","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Sunday: {{payload}}","output":"str","x":320,"y":1560,"wires":[["35a9f997.3bf006"]]},{"id":"35a9f997.3bf006","type":"join","z":"8edb4e34.673db","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":" | ","joinerType":"str","accumulate":false,"timeout":"30","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":520,"y":1380,"wires":[["53adddeb.6a7734","96aa1693.fc0b08"]]},{"id":"3e751745.38fd58","type":"api-call-service","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_iphone_de_ana_carolina","entityId":"","data":"{\"message\":\"{{payload}}\",\"title\":\"Wake up turned on/off\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":1060,"wires":[[]]},{"id":"9f7025bb.679388","type":"template","z":"8edb4e34.673db","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Monday: {{payload}}","output":"str","x":320,"y":1000,"wires":[["fb3c4458.6d14e8"]]},{"id":"e51dc888.4c37d8","type":"template","z":"8edb4e34.673db","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Tuesday: {{payload}}","output":"str","x":320,"y":1040,"wires":[["fb3c4458.6d14e8"]]},{"id":"fb660d02.1c546","type":"template","z":"8edb4e34.673db","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Wednesday: {{payload}}","output":"str","x":320,"y":1080,"wires":[["fb3c4458.6d14e8"]]},{"id":"5fc3de84.10643","type":"template","z":"8edb4e34.673db","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Thursday: {{payload}}","output":"str","x":320,"y":1120,"wires":[["fb3c4458.6d14e8"]]},{"id":"be3bc235.7e4c2","type":"template","z":"8edb4e34.673db","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Friday: {{payload}}","output":"str","x":320,"y":1160,"wires":[["fb3c4458.6d14e8"]]},{"id":"b35c9aa5.9690e8","type":"template","z":"8edb4e34.673db","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Saturday: {{payload}}","output":"str","x":320,"y":1200,"wires":[["fb3c4458.6d14e8"]]},{"id":"d9f77ba9.4653c8","type":"template","z":"8edb4e34.673db","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Sunday: {{payload}}","output":"str","x":320,"y":1240,"wires":[["fb3c4458.6d14e8"]]},{"id":"fb3c4458.6d14e8","type":"join","z":"8edb4e34.673db","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":" | ","joinerType":"str","accumulate":false,"timeout":"30","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":520,"y":1060,"wires":[["3e751745.38fd58","2163cff3.4feef"]]},{"id":"2163cff3.4feef","type":"api-call-service","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_mi_9_lite","entityId":"","data":"{\"message\":\"{{payload}}\",\"title\":\"Wake up turned on/off\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":1120,"wires":[[]]},{"id":"96aa1693.fc0b08","type":"api-call-service","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_mi_9_lite","entityId":"","data":"{\"message\":\"{{payload}}\",\"title\":\"Wake up time changed\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":1440,"wires":[[]]},{"id":"f0fb485f.0caa78","type":"trigger-state","z":"8edb4e34.673db","name":"PIR","server":"9e74f251.0dfb4","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.living_room_pir_2","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"entity_id","targetValue":"input_boolean.blinds_primed","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"outputs":3,"customoutputs":[{"messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"detected","comparatorValueDataType":"str","comparatorPropertyValue":"new_state.state"}],"outputinitially":true,"state_type":"str","x":950,"y":400,"wires":[[],[],["a5256955.748088"]]},{"id":"c05f9ab3.f7cbc8","type":"schedex","z":"8d2a5b3.c3ffca8","name":"Night clean","passthroughunhandled":false,"suspended":true,"lat":"41.181","lon":"-8.623","ontime":"04:00","ontopic":"","onpayload":"Silent","onoffset":0,"onrandomoffset":0,"offtime":"05:00","offtopic":"","offpayload":"Standard","offoffset":"","offrandomoffset":0,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"sun":false,"x":150,"y":140,"wires":[["48c2db30.6aacd4"]]},{"id":"6d9491c7.f757c","type":"api-call-service","z":"8d2a5b3.c3ffca8","name":"Night Areas","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"xiaomi_miio","service":"vacuum_clean_segment","entityId":"vacuum.roborock_s5_max","data":"{\"segments\":[16,19]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":120,"wires":[[]]},{"id":"47b1984a.1a2538","type":"comment","z":"8d2a5b3.c3ffca8","name":"Segment codes","info":"16: Kitchen \n17: Bedroom \n18: Null\n19: Living room \n20: Hall \n21: Bathroom ","x":160,"y":400,"wires":[]},{"id":"edb9f20e.ae294","type":"schedex","z":"8d2a5b3.c3ffca8","name":"Day clean (week)","passthroughunhandled":false,"suspended":true,"lat":"41.181","lon":"-8.623","ontime":"09:00","ontopic":"","onpayload":"start","onoffset":0,"onrandomoffset":0,"offtime":"09:01","offtopic":"","offpayload":"","offoffset":0,"offrandomoffset":0,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"sun":false,"x":170,"y":220,"wires":[["ea7c8a25.1f7b88"]]},{"id":"c38dfec6.120bb","type":"api-call-service","z":"8d2a5b3.c3ffca8","name":"Day Areas","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"xiaomi_miio","service":"vacuum_clean_segment","entityId":"vacuum.roborock_s5_max","data":"{\"segments\":[17,20,21]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":260,"wires":[[]]},{"id":"d27232c5.916f5","type":"schedex","z":"8d2a5b3.c3ffca8","name":"Day clean (weekend)","passthroughunhandled":false,"suspended":true,"lat":"41.181","lon":"-8.623","ontime":"10:00","ontopic":"","onpayload":"start","onoffset":0,"onrandomoffset":0,"offtime":"10:01","offtopic":"","offpayload":"","offoffset":0,"offrandomoffset":0,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"sun":false,"x":180,"y":300,"wires":[["ea7c8a25.1f7b88"]]},{"id":"48c2db30.6aacd4","type":"api-call-service","z":"8d2a5b3.c3ffca8","name":"Fan speed","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"vacuum","service":"set_fan_speed","entityId":"vacuum.roborock_s5_max","data":"{\"fan_speed\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":390,"y":120,"wires":[["d1e2e036.3e1e2"]]},{"id":"43357684.fdc1c8","type":"delay","z":"8d2a5b3.c3ffca8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":120,"wires":[["6d9491c7.f757c"]]},{"id":"d1e2e036.3e1e2","type":"switch","z":"8d2a5b3.c3ffca8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Silent","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":120,"wires":[["43357684.fdc1c8"]]},{"id":"ea7c8a25.1f7b88","type":"switch","z":"8d2a5b3.c3ffca8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":260,"wires":[["c3aa8565.e21638"]]},{"id":"b13ab16a.b4994","type":"switch","z":"8edb4e34.673db","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"open","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":180,"wires":[["7e21de9a.c61a6"]]},{"id":"c3aa8565.e21638","type":"api-current-state","z":"8d2a5b3.c3ffca8","name":"Docked","server":"9e74f251.0dfb4","version":1,"outputs":2,"halt_if":"docked","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"vacuum.roborock_s5_max","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":720,"y":260,"wires":[["c38dfec6.120bb"],[]]},{"id":"ace62795.a05298","type":"www-request","z":"21a87d49.4044b2","name":"","method":"GET","ret":"txt","url":"https://api.pro.coinbase.com/accounts","follow-redirects":true,"persistent-http":true,"tls":"","x":430,"y":360,"wires":[["d89d38a5.c7d888"]]},{"id":"9559c6e.6571738","type":"function","z":"21a87d49.4044b2","name":"","func":"\nvar crypto = global.get('crypto');\n\nvar secret = 'C3J45EC2ObYy6Nt9a5BgyWnpdSctB99oirq7QPOJuO8ZA9GPbKJ6A7mtC10Z/fF0nPMAYzfFzBgHPlbbq4/S2A==';\n\nvar timestamp = Date.now() /1000 ;\n//var requestPath = msg.request;\nvar requestPath = '/accounts';\n\n\n\nvar method = 'GET';\n\n// create the prehash string by concatenating required parts\nvar what = timestamp + method + requestPath;\n\n// decode the base64 secret\nvar key = Buffer(secret, 'base64');\n\n// create a sha256 hmac with the secret\nvar hmac = crypto.createHmac('sha256', key);\n\n// sign the require message with the hmac\n// and finally base64 encode the result\nvar sign = hmac.update(what).digest('base64');\n \nmsg.address = requestPath\nmsg.headers = {};\nmsg.headers['CB-ACCESS-KEY'] = 'ca013cacc9ded5abb6f49b31715c8084';\nmsg.headers['CB-ACCESS-SIGN'] = sign;\nmsg.headers['CB-ACCESS-TIMESTAMP'] = timestamp\nmsg.headers['CB-ACCESS-PASSPHRASE'] = '8adr7gqetcm';\nmsg.headers['Accept'] = 'application/json',\nmsg.headers['User-Agent'] = 'rn-coinbasepro-app',\nmsg.headers['Content-Type'] = 'application/json'\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":300,"wires":[["ace62795.a05298"]]},{"id":"d89d38a5.c7d888","type":"split","z":"21a87d49.4044b2","name":"","splt":"{","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":430,"y":420,"wires":[["3ddfa14a.c3fffe"]]},{"id":"3ddfa14a.c3fffe","type":"switch","z":"21a87d49.4044b2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"EUR\"","vt":"str"},{"t":"cont","v":"\"BTC\"","vt":"str"},{"t":"cont","v":"\"ETH\"","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":430,"y":500,"wires":[["abce3bfe.118a58"],["9b29e097.5e1c6"],["c21a0a2d.088ce8"]]},{"id":"abce3bfe.118a58","type":"split","z":"21a87d49.4044b2","name":"EUR","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":420,"wires":[["4f2f7a40.0f07a4"]]},{"id":"c21a0a2d.088ce8","type":"split","z":"21a87d49.4044b2","name":"ETH","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":580,"wires":[["89c3ec69.ced1b"]]},{"id":"9b29e097.5e1c6","type":"split","z":"21a87d49.4044b2","name":"BTC","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":500,"wires":[["f8b3db33.de28d8"]]},{"id":"4e9b6727.463448","type":"split","z":"21a87d49.4044b2","name":"","splt":"\"","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":930,"y":420,"wires":[["ef60e167.a66de"]]},{"id":"5b2ca052.2d6e4","type":"split","z":"21a87d49.4044b2","name":"","splt":"\"","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":930,"y":500,"wires":[["5fe29352.519d8c"]]},{"id":"d3d63982.b9a618","type":"split","z":"21a87d49.4044b2","name":"","splt":"\"","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":930,"y":580,"wires":[["9f0e2cca.b15a1"]]},{"id":"ef60e167.a66de","type":"switch","z":"21a87d49.4044b2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":".","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1090,"y":420,"wires":[["bae853ac.daaca"]]},{"id":"5fe29352.519d8c","type":"switch","z":"21a87d49.4044b2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":".","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1090,"y":500,"wires":[["ab0c345b.526708"]]},{"id":"9f0e2cca.b15a1","type":"switch","z":"21a87d49.4044b2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":".","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1090,"y":580,"wires":[["333d12fa.f3756e"]]},{"id":"4f2f7a40.0f07a4","type":"switch","z":"21a87d49.4044b2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"balance","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":420,"wires":[["4e9b6727.463448"]]},{"id":"f8b3db33.de28d8","type":"switch","z":"21a87d49.4044b2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"balance","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":500,"wires":[["5b2ca052.2d6e4"]]},{"id":"89c3ec69.ced1b","type":"switch","z":"21a87d49.4044b2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"balance","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":580,"wires":[["d3d63982.b9a618"]]},{"id":"bae853ac.daaca","type":"function","z":"21a87d49.4044b2","name":"","func":"msg.payload = Number(msg.payload).toFixed(2); \nmsg.topic = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":420,"wires":[["7319f5ac.a6299c"]]},{"id":"ab0c345b.526708","type":"function","z":"21a87d49.4044b2","name":"","func":"msg.payload = Number(msg.payload); \nmsg.topic = 2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":500,"wires":[["488f6b7d.ad4d74"]]},{"id":"333d12fa.f3756e","type":"function","z":"21a87d49.4044b2","name":"","func":"msg.payload = Number(msg.payload); \nmsg.topic = 3;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":580,"wires":[["375bbcc1.591044"]]},{"id":"7319f5ac.a6299c","type":"ha-entity","z":"21a87d49.4044b2","name":"Euro","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Euro"},{"property":"device_class","value":"sensor"},{"property":"icon","value":"mdi:currency-eur"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[{"property":"Name","value":"Euro","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1450,"y":420,"wires":[[]]},{"id":"488f6b7d.ad4d74","type":"ha-entity","z":"21a87d49.4044b2","name":"Bitcoin","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Bitcoin"},{"property":"device_class","value":"sensor"},{"property":"icon","value":"mdi:bitcoin"},{"property":"unit_of_measurement","value":"BTC"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1450,"y":500,"wires":[[]]},{"id":"375bbcc1.591044","type":"ha-entity","z":"21a87d49.4044b2","name":"Ethereum","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Ethereum"},{"property":"device_class","value":"sensor"},{"property":"icon","value":"mdi:ethereum"},{"property":"unit_of_measurement","value":"ETH"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1460,"y":580,"wires":[[]]},{"id":"7e50ab64.76b3d4","type":"split","z":"21a87d49.4044b2","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":740,"wires":[["fb3ed926.a47108"]]},{"id":"fb3ed926.a47108","type":"switch","z":"21a87d49.4044b2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"price","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":740,"wires":[["65a71f75.d2b23"]]},{"id":"7c2bbec3.07c92","type":"function","z":"21a87d49.4044b2","name":"","func":"msg.payload = Number(msg.payload); \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":660,"wires":[["1bc12960.29dea7"]]},{"id":"bea65113.fd548","type":"function","z":"21a87d49.4044b2","name":"","func":"msg.payload = Number(msg.payload); \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":740,"wires":[["3e284add.6a2b96"]]},{"id":"1bc12960.29dea7","type":"ha-entity","z":"21a87d49.4044b2","name":"BTC Price","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"BTC Price"},{"property":"device_class","value":"sensor"},{"property":"icon","value":"mdi:bitcoin"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1460,"y":660,"wires":[["545cbeef.56aa7","611c1840.c239a8","ba0e3269.0d6f7","693e5a2d.89b7e4","fbd44c4e.96788"]]},{"id":"3e284add.6a2b96","type":"ha-entity","z":"21a87d49.4044b2","name":"ETH Price","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"ETH Price"},{"property":"device_class","value":"sensor"},{"property":"icon","value":"mdi:ethereum"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1460,"y":740,"wires":[[]]},{"id":"ef9bf948.6a8c08","type":"join","z":"21a87d49.4044b2","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2090,"y":660,"wires":[["efb0c665.9bdcf8"]]},{"id":"73974da6.4a84e4","type":"join","z":"21a87d49.4044b2","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2090,"y":580,"wires":[["e25f9294.3966f"]]},{"id":"efb0c665.9bdcf8","type":"calculator","z":"21a87d49.4044b2","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"mult","constant":"","round":true,"decimals":"2","x":2160,"y":740,"wires":[["e09b00c9.8d60d"]]},{"id":"e25f9294.3966f","type":"calculator","z":"21a87d49.4044b2","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"mult","constant":"","round":true,"decimals":"2","x":2160,"y":500,"wires":[["c51c31c3.bca51"]]},{"id":"c51c31c3.bca51","type":"ha-entity","z":"21a87d49.4044b2","name":"BTC Value","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"BTC Value"},{"property":"device_class","value":"sensor"},{"property":"icon","value":"mdi:bitcoin"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":2370,"y":540,"wires":[["9e311ee8.d75d8"]]},{"id":"e09b00c9.8d60d","type":"ha-entity","z":"21a87d49.4044b2","name":"ETH Value","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"ETH Value"},{"property":"device_class","value":"sensor"},{"property":"icon","value":"mdi:ethereum"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":2370,"y":660,"wires":[["292514e0.4e102c"]]},{"id":"fc2514b5.dd3718","type":"join","z":"21a87d49.4044b2","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":2770,"y":540,"wires":[["4fc7d023.6de5c"]]},{"id":"c455605e.7337d","type":"calculator","z":"21a87d49.4044b2","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"sum","constant":"","round":true,"decimals":"2","x":2950,"y":540,"wires":[["a0cfc199.80a35"]]},{"id":"ce46ae84.4a6d8","type":"ha-entity","z":"21a87d49.4044b2","name":"Portfolio","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Portfolio"},{"property":"device_class","value":"sensor"},{"property":"icon","value":"mdi:currency-eur"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[{"property":"Name","value":"Portfolio","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":3280,"y":540,"wires":[["d7ec8d8e.8f37","6404f49e.ceb16c"]]},{"id":"66448139.a86de","type":"poll-state","z":"21a87d49.4044b2","name":"","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"30","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.date_time_utc","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":150,"y":540,"wires":[["a240b750.919578","7ba32964.59e4d8"]]},{"id":"832cbce6.d509a","type":"switch","z":"21a87d49.4044b2","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"","vt":"prev"},{"t":"lt","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":2,"x":3590,"y":540,"wires":[[],[]]},{"id":"d818c9d8.51ba48","type":"api-call-service","z":"21a87d49.4044b2","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"script","service":"flash_green_led","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":3820,"y":500,"wires":[[]]},{"id":"5a844070.cf355","type":"api-call-service","z":"21a87d49.4044b2","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"script","service":"flash_red_led","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":3810,"y":580,"wires":[[]]},{"id":"a240b750.919578","type":"www-request","z":"21a87d49.4044b2","name":"","method":"GET","ret":"txt","url":"https://api.pro.coinbase.com/products/ETH-EUR/ticker","follow-redirects":true,"persistent-http":true,"tls":"","x":450,"y":740,"wires":[["7e50ab64.76b3d4"]]},{"id":"65a71f75.d2b23","type":"split","z":"21a87d49.4044b2","name":"","splt":"\"","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":930,"y":740,"wires":[["96d646a5.26c328"]]},{"id":"96d646a5.26c328","type":"switch","z":"21a87d49.4044b2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":".","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1090,"y":740,"wires":[["bea65113.fd548"]]},{"id":"206a4ad.f47e4b6","type":"switch","z":"21a87d49.4044b2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":".","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1090,"y":660,"wires":[["7c2bbec3.07c92"]]},{"id":"1f5dab6f.4441a5","type":"split","z":"21a87d49.4044b2","name":"","splt":"\"","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":930,"y":660,"wires":[["206a4ad.f47e4b6"]]},{"id":"ef2ca3e5.00187","type":"switch","z":"21a87d49.4044b2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"price","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":660,"wires":[["1f5dab6f.4441a5"]]},{"id":"25652bab.035114","type":"split","z":"21a87d49.4044b2","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":660,"wires":[["ef2ca3e5.00187"]]},{"id":"7ba32964.59e4d8","type":"www-request","z":"21a87d49.4044b2","name":"","method":"GET","ret":"txt","url":"https://api.pro.coinbase.com/products/BTC-EUR/ticker","follow-redirects":true,"persistent-http":true,"tls":"","x":450,"y":660,"wires":[["25652bab.035114"]]},{"id":"2eaf87f7.67b2b8","type":"change","z":"21a87d49.4044b2","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"euro","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2570,"y":420,"wires":[["fc2514b5.dd3718"]]},{"id":"9e311ee8.d75d8","type":"change","z":"21a87d49.4044b2","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"btc","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2570,"y":540,"wires":[["fc2514b5.dd3718"]]},{"id":"292514e0.4e102c","type":"change","z":"21a87d49.4044b2","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"eth","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2570,"y":660,"wires":[["fc2514b5.dd3718"]]},{"id":"4fc7d023.6de5c","type":"function","z":"21a87d49.4044b2","name":"","func":"msg.payload = [msg.payload.euro, msg.payload.btc, msg.payload.eth];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2860,"y":600,"wires":[["c455605e.7337d"]]},{"id":"c361f9e2.5d2cf8","type":"server-state-changed","z":"3709ae8a.570842","name":"","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.living_room_pir_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":300,"y":140,"wires":[["1b2d9de9.37f2c2"],[]]},{"id":"e8ddff9.7c4bb","type":"change","z":"21a87d49.4044b2","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3280,"y":1520,"wires":[[]]},{"id":"d7ec8d8e.8f37","type":"rbe","z":"21a87d49.4044b2","name":"","func":"deadbandEq","gap":"1","start":"","inout":"out","property":"payload","x":3440,"y":540,"wires":[["832cbce6.d509a"]]},{"id":"545cbeef.56aa7","type":"api-current-state","z":"21a87d49.4044b2","name":"","server":"9e74f251.0dfb4","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.eth_price","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1830,"y":680,"wires":[["ef9bf948.6a8c08"]]},{"id":"611c1840.c239a8","type":"api-current-state","z":"21a87d49.4044b2","name":"","server":"9e74f251.0dfb4","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.ethereum","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1830,"y":760,"wires":[["ef9bf948.6a8c08","a310fb84.8df8f8"]]},{"id":"ba0e3269.0d6f7","type":"api-current-state","z":"21a87d49.4044b2","name":"","server":"9e74f251.0dfb4","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.btc_price","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1830,"y":520,"wires":[["73974da6.4a84e4"]]},{"id":"693e5a2d.89b7e4","type":"api-current-state","z":"21a87d49.4044b2","name":"","server":"9e74f251.0dfb4","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.bitcoin","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1840,"y":600,"wires":[["73974da6.4a84e4","399f0f84.bf37c"]]},{"id":"fbd44c4e.96788","type":"api-current-state","z":"21a87d49.4044b2","name":"","server":"9e74f251.0dfb4","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.euro","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1810,"y":420,"wires":[["2eaf87f7.67b2b8"]]},{"id":"a0cfc199.80a35","type":"rbe","z":"21a87d49.4044b2","name":"","func":"narrowbandEq","gap":"100%","start":"","inout":"out","property":"payload","x":3110,"y":540,"wires":[["ce46ae84.4a6d8"]]},{"id":"6c3068af.142478","type":"api-call-service","z":"21a87d49.4044b2","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_mi_9_lite","entityId":"","data":"{\"message\":\"Balance: {{payload}}\",\"title\":\"Going Down!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":4470,"y":380,"wires":[[]]},{"id":"5bd9d49c.10c3fc","type":"api-call-service","z":"21a87d49.4044b2","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_mi_9_lite","entityId":"","data":"{\"message\":\"Balance: {{payload}}\",\"title\":\"Going Up!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":4470,"y":320,"wires":[[]]},{"id":"ad20d103.799d4","type":"switch","z":"21a87d49.4044b2","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"","vt":"prev"},{"t":"lt","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":2,"x":3590,"y":340,"wires":[["d407bbd9.33eb38"],["49a235b5.a75e2c"]]},{"id":"6404f49e.ceb16c","type":"function","z":"21a87d49.4044b2","name":"Tens","func":"msg.payload = ((msg.payload - 5)/10).toFixed(0) * 10\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3450,"y":340,"wires":[["ad20d103.799d4"]]},{"id":"dc27c888.faf6c8","type":"switch","z":"21a87d49.4044b2","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"","vt":"prev"},{"t":"lt","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":2,"x":4070,"y":340,"wires":[["5bd9d49c.10c3fc"],["4e16a488.6ea4ec"]]},{"id":"d407bbd9.33eb38","type":"change","z":"21a87d49.4044b2","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3750,"y":320,"wires":[["56247a98.5895c4"]]},{"id":"49a235b5.a75e2c","type":"change","z":"21a87d49.4044b2","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3750,"y":360,"wires":[["56247a98.5895c4"]]},{"id":"56247a98.5895c4","type":"switch","z":"21a87d49.4044b2","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":1,"x":3930,"y":340,"wires":[["dc27c888.faf6c8"]]},{"id":"4e16a488.6ea4ec","type":"function","z":"21a87d49.4044b2","name":"","func":"msg.payload = msg.payload + 10\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4220,"y":380,"wires":[["6c3068af.142478"]]},{"id":"6aa0d3b2.aeeebc","type":"stoptimer","z":"3709ae8a.570842","duration":"3","units":"Hour","payloadtype":"str","payloadval":"Outdoor sensor offline for 3 hours","name":"","x":750,"y":460,"wires":[[],["ba5f0d3.8a9bcf"]]},{"id":"ba5f0d3.8a9bcf","type":"api-call-service","z":"3709ae8a.570842","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_mi_9_lite","entityId":"","data":"{\"message\":\"{{payload}}\",\"title\":\"Outdoor sensor\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":460,"wires":[[]]},{"id":"66270e50.48a9","type":"schedex","z":"3709ae8a.570842","name":"","passthroughunhandled":false,"suspended":false,"lat":"41.1861","lon":"-8.62781","ontime":"sunrise","ontopic":"","onpayload":"","onoffset":"-60","onrandomoffset":0,"offtime":"23:45","offtopic":"","offpayload":"","offoffset":"","offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":280,"y":260,"wires":[["db8c8048.be9e7"]]},{"id":"997cfd54.2ed06","type":"api-call-service","z":"3709ae8a.570842","name":"Outdoor sensor sleep timer","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.outdoor_sleep_duration","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1080,"y":280,"wires":[[]]},{"id":"db8c8048.be9e7","type":"template","z":"3709ae8a.570842","name":"Day sleep duration","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"data\": {\n    \"value\": 15\n  }\n}","output":"str","x":710,"y":260,"wires":[["997cfd54.2ed06"]]},{"id":"97041b1e.1a0fb8","type":"template","z":"3709ae8a.570842","name":"Night sleep duration","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"data\": {\n    \"value\": 60\n  }\n}","output":"str","x":720,"y":320,"wires":[["997cfd54.2ed06"]]},{"id":"2d87a2a8.e03cae","type":"api-call-service","z":"3709ae8a.570842","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_mi_9_lite","entityId":"","data":"{\"message\":\"Motion detected\",\"title\":\"Motion detected\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1070,"y":140,"wires":[[]]},{"id":"1b2d9de9.37f2c2","type":"api-current-state","z":"3709ae8a.570842","name":"","server":"9e74f251.0dfb4","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.holiday","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":670,"y":140,"wires":[["2d87a2a8.e03cae"],[]]},{"id":"7e21de9a.c61a6","type":"api-current-state","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.holiday","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":970,"y":240,"wires":[[],["d1ab8f99.4697a","8b86cf7c.b6db7"]]},{"id":"2a9d373e.b18938","type":"api-current-state","z":"9af02288.f1339","name":"","server":"9e74f251.0dfb4","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.holiday","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":450,"y":540,"wires":[[],["e9e36859.a42df8"]]},{"id":"4e060bf5.923d64","type":"server-state-changed","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.holiday","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":230,"y":1660,"wires":[["178b7b23.931d15","b9d103c0.feeea","801e7c5d.0888f","1522765a.c5078a","2725af65.0cba4","5b9ec2d3.d666fc","a92099ab.8e7408"],["40832b9b.03c5f4"]]},{"id":"178b7b23.931d15","type":"api-current-state","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.monday_wake","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":1660,"wires":[["1a4c0a60.1f9bb6"]]},{"id":"b9d103c0.feeea","type":"api-current-state","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.tuesday_wake","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":1700,"wires":[["30266f6e.0492f"]]},{"id":"801e7c5d.0888f","type":"api-current-state","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.wednesday_wake","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":640,"y":1740,"wires":[["165bd079.4ce51"]]},{"id":"1522765a.c5078a","type":"api-current-state","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.thursday_wake","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":1780,"wires":[["96b12162.02697"]]},{"id":"2725af65.0cba4","type":"api-current-state","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.friday_wake","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":620,"y":1820,"wires":[["8dca6a1a.b3ec38"]]},{"id":"5b9ec2d3.d666fc","type":"api-current-state","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.saturday_wake","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":1860,"wires":[["6713e4f9.6a304c"]]},{"id":"a92099ab.8e7408","type":"api-current-state","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.sunday_wake","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":1900,"wires":[["3cf39bad.17ccd4"]]},{"id":"9cf07adc.ffc128","type":"join","z":"8edb4e34.673db","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"7","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1130,"y":1660,"wires":[["b7b774bd.c3edf8"]]},{"id":"1a4c0a60.1f9bb6","type":"change","z":"8edb4e34.673db","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"monday","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1660,"wires":[["9cf07adc.ffc128"]]},{"id":"30266f6e.0492f","type":"change","z":"8edb4e34.673db","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"tuesday","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1700,"wires":[["9cf07adc.ffc128"]]},{"id":"165bd079.4ce51","type":"change","z":"8edb4e34.673db","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"wednesday","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1740,"wires":[["9cf07adc.ffc128"]]},{"id":"96b12162.02697","type":"change","z":"8edb4e34.673db","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"thursday","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1780,"wires":[["9cf07adc.ffc128"]]},{"id":"8dca6a1a.b3ec38","type":"change","z":"8edb4e34.673db","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"friday","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1820,"wires":[["9cf07adc.ffc128"]]},{"id":"6713e4f9.6a304c","type":"change","z":"8edb4e34.673db","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"saturday","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1860,"wires":[["9cf07adc.ffc128"]]},{"id":"3cf39bad.17ccd4","type":"change","z":"8edb4e34.673db","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"sunday","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1900,"wires":[["9cf07adc.ffc128"]]},{"id":"d5f9491c.5c3e18","type":"api-call-service","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.monday_wake","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1620,"y":1660,"wires":[[]]},{"id":"b7b774bd.c3edf8","type":"file","z":"8edb4e34.673db","name":"","filename":"pre_holiday_settings","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1320,"y":1660,"wires":[["d5f9491c.5c3e18","8d42c1de.8c582","82f0e170.87a1b","5b546aaa.714784","bd5e9a5.d647868","2f7a8700.c6e0da","a2dbcf0d.46884"]]},{"id":"8d42c1de.8c582","type":"api-call-service","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.tuesday_wake","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1620,"y":1700,"wires":[[]]},{"id":"82f0e170.87a1b","type":"api-call-service","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.wednesday_wake","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1620,"y":1740,"wires":[[]]},{"id":"5b546aaa.714784","type":"api-call-service","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.thursday_wake","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1620,"y":1780,"wires":[[]]},{"id":"bd5e9a5.d647868","type":"api-call-service","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.friday_wake","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1620,"y":1820,"wires":[[]]},{"id":"2f7a8700.c6e0da","type":"api-call-service","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.saturday_wake","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1620,"y":1860,"wires":[[]]},{"id":"a2dbcf0d.46884","type":"api-call-service","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.sunday_wake","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1620,"y":1900,"wires":[[]]},{"id":"40832b9b.03c5f4","type":"file in","z":"8edb4e34.673db","name":"","filename":"pre_holiday_settings","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":550,"y":2020,"wires":[["9b028cf3.19302"]]},{"id":"9b028cf3.19302","type":"split","z":"8edb4e34.673db","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":750,"y":2020,"wires":[["6dff056d.8fa0bc"]]},{"id":"6dff056d.8fa0bc","type":"switch","z":"8edb4e34.673db","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"monday","vt":"str"},{"t":"cont","v":"tuesday","vt":"str"},{"t":"cont","v":"wednesday","vt":"str"},{"t":"cont","v":"thursday","vt":"str"},{"t":"cont","v":"friday","vt":"str"},{"t":"cont","v":"saturday","vt":"str"},{"t":"cont","v":"sunday","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":920,"y":2020,"wires":[["f91a3a1f.d67788"],["d0293a89.c87628"],["4f81bace.15dc24"],["3dfc7945.6b7106"],["ab6e83b2.7b839"],["2075cb6e.ae8024"],["27d0615a.6f079e"]]},{"id":"f91a3a1f.d67788","type":"switch","z":"8edb4e34.673db","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":1980,"wires":[["770b48e1.e6b6c8"]]},{"id":"d0293a89.c87628","type":"switch","z":"8edb4e34.673db","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":2020,"wires":[["ad4fd7fb.7c5c88"]]},{"id":"4f81bace.15dc24","type":"switch","z":"8edb4e34.673db","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":2060,"wires":[["5949bb06.c14864"]]},{"id":"3dfc7945.6b7106","type":"switch","z":"8edb4e34.673db","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":2100,"wires":[["ae6444b5.164068"]]},{"id":"ab6e83b2.7b839","type":"switch","z":"8edb4e34.673db","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":2140,"wires":[["eff21431.cf2e58"]]},{"id":"2075cb6e.ae8024","type":"switch","z":"8edb4e34.673db","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":2180,"wires":[["beff2dff.13bbe"]]},{"id":"27d0615a.6f079e","type":"switch","z":"8edb4e34.673db","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":2220,"wires":[["2c3ae0fb.43a85"]]},{"id":"770b48e1.e6b6c8","type":"api-call-service","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.monday_wake","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1340,"y":1980,"wires":[[]]},{"id":"ad4fd7fb.7c5c88","type":"api-call-service","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.tuesday_wake","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1340,"y":2020,"wires":[[]]},{"id":"5949bb06.c14864","type":"api-call-service","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.wednesday_wake","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1340,"y":2060,"wires":[[]]},{"id":"ae6444b5.164068","type":"api-call-service","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.thursday_wake","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1340,"y":2100,"wires":[[]]},{"id":"eff21431.cf2e58","type":"api-call-service","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.friday_wake","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1340,"y":2140,"wires":[[]]},{"id":"beff2dff.13bbe","type":"api-call-service","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.saturday_wake","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1340,"y":2180,"wires":[[]]},{"id":"2c3ae0fb.43a85","type":"api-call-service","z":"8edb4e34.673db","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.sunday_wake","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1340,"y":2220,"wires":[[]]},{"id":"f1e4a85e.296d48","type":"server-state-changed","z":"3709ae8a.570842","name":"","server":"9e74f251.0dfb4","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.sensor_node1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":350,"y":460,"wires":[["6aa0d3b2.aeeebc"]]},{"id":"9dd9ea0e.effba8","type":"schedex","z":"3709ae8a.570842","name":"","passthroughunhandled":false,"suspended":false,"lat":"41.1861","lon":"-8.62781","ontime":"23:45","ontopic":"","onpayload":"","onoffset":"","onrandomoffset":0,"offtime":"sunrise","offtopic":"","offpayload":"","offoffset":"-60","offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":280,"y":320,"wires":[["97041b1e.1a0fb8"]]},{"id":"ad03df1b.8979b","type":"ha-wait-until","z":"9af02288.f1339","name":"300s or light off","server":"9e74f251.0dfb4","outputs":2,"entityId":"switch.cristo_lamp","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"30","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":980,"y":640,"wires":[["2bb48840.1488d8"],["2bb48840.1488d8"]]},{"id":"399f0f84.bf37c","type":"rbe","z":"21a87d49.4044b2","name":"","func":"deadbandEq","gap":"60%","start":"","inout":"in","property":"payload","x":2180,"y":860,"wires":[["39e98cfa.aea0a4"]]},{"id":"a310fb84.8df8f8","type":"rbe","z":"21a87d49.4044b2","name":"","func":"deadbandEq","gap":"60%","start":"","inout":"in","property":"payload","x":2180,"y":920,"wires":[["e1042434.8d5878"]]},{"id":"39e98cfa.aea0a4","type":"switch","z":"21a87d49.4044b2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"","vt":"prev"},{"t":"lt","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":2,"x":2370,"y":860,"wires":[["29589f00.bd5df2"],["28761f71.a6486"]]},{"id":"e1042434.8d5878","type":"switch","z":"21a87d49.4044b2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"","vt":"prev"},{"t":"lt","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":2,"x":2370,"y":920,"wires":[["f895160b.3e8cc8"],["1c83b082.dbe19f"]]},{"id":"29589f00.bd5df2","type":"api-call-service","z":"21a87d49.4044b2","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_mi_9_lite","entityId":"","data":"{\"message\":\"{{payload}} BTC\",\"title\":\"Bitcoin Bought!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2630,"y":820,"wires":[[]]},{"id":"f895160b.3e8cc8","type":"api-call-service","z":"21a87d49.4044b2","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_mi_9_lite","entityId":"","data":"{\"message\":\"{{payload}} ETH\",\"title\":\"Ethereum Bought!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2630,"y":920,"wires":[[]]},{"id":"28761f71.a6486","type":"api-call-service","z":"21a87d49.4044b2","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_mi_9_lite","entityId":"","data":"{\"message\":\"{{payload}} BTC\",\"title\":\"Bitcoin Sold!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2630,"y":860,"wires":[[]]},{"id":"1c83b082.dbe19f","type":"api-call-service","z":"21a87d49.4044b2","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_mi_9_lite","entityId":"","data":"{\"message\":\"{{payload}} ETH\",\"title\":\"Ethereum Sold!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2630,"y":960,"wires":[[]]},{"id":"95323457.195478","type":"ha-wait-until","z":"3709ae8a.570842","name":"","server":"9e74f251.0dfb4","outputs":1,"entityId":"cover.sonoff_1000d67323","entityIdFilterType":"exact","property":"state","comparator":"is_not","value":"opening","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":900,"y":800,"wires":[["2edefce1.91eef4"]]},{"id":"2edefce1.91eef4","type":"api-call-service","z":"3709ae8a.570842","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_play_pause","entityId":"media_player.living_room_tv","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1150,"y":800,"wires":[[]]},{"id":"4b12b10.9a83d5","type":"trigger-state","z":"3709ae8a.570842","name":"","server":"9e74f251.0dfb4","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"cover.sonoff_1000d67323","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"entity_id","targetValue":"media_player.living_room_tv","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"playing","propertyValue":"new_state.state"}],"outputs":4,"customoutputs":[{"messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"opening","comparatorValueDataType":"str","comparatorPropertyValue":"new_state.state"},{"messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"closing","comparatorValueDataType":"str","comparatorPropertyValue":"new_state.state"}],"outputinitially":false,"state_type":"str","x":330,"y":780,"wires":[[],[],["b573977e.083d18"],["681e1244.e91ebc"]]},{"id":"1ed18d8c.31a772","type":"ha-wait-until","z":"3709ae8a.570842","name":"","server":"9e74f251.0dfb4","outputs":1,"entityId":"cover.sonoff_1000d67323","entityIdFilterType":"exact","property":"state","comparator":"is_not","value":"closing","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":900,"y":860,"wires":[["62881c29.2ce8e4"]]},{"id":"62881c29.2ce8e4","type":"api-call-service","z":"3709ae8a.570842","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_play_pause","entityId":"media_player.living_room_tv","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1150,"y":860,"wires":[[]]},{"id":"681e1244.e91ebc","type":"api-call-service","z":"3709ae8a.570842","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_pause","entityId":"media_player.living_room_tv","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":860,"wires":[["1ed18d8c.31a772"]]},{"id":"b573977e.083d18","type":"api-call-service","z":"3709ae8a.570842","name":"","server":"9e74f251.0dfb4","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_pause","entityId":"media_player.living_room_tv","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":800,"wires":[["95323457.195478"]]}]